＠import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}


#backgroundVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;

}

.mark1 {
  display: flex;
}
.mark2 {
  flex-grow:1;
}
.mark3 {
  box-sizing: border-box;
  width: 100%;
}


.intro{
  text-align: center;
  position: relative;
  color: #fff;
  width: 100%;

}


.left {
  background-color: #81D8D0;
  padding: 30px;
}



.ityped-cursor {
    font-size: 2.2rem;
    opacity: 1;
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
    animation-direction: alternate;
}

@keyframes blink {
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}

.container{
  display: flex;
}

h1{
  color: white;
}

.left{
width: 30%;
}

.right{
width: 70%;

}
